django-anymail[postmark]
Boto3
celery
crispy-bootstrap5
django
django-autocomplete-light
django-celery-beat>=2.2.0
django-crispy-forms==1.14.0
django-debug-toolbar
django-extensions
django-hcaptcha
django-storages
django-summernote
crispy-bootstrap5
dj-database-url>=0.5,<0.6
gunicorn
ipython
redis
Pillow
psycopg~=3.2.12
whitenoise>=6.0,<7.0
